$width: 600px;
 @mixin div($border, $margin-left,$margin-top,$padding) {
  border: $border;
  margin-left: $margin-left;
  margin-top:$margin-top;
  padding: $padding;
}
 .Dropdown-control{
   width: $width/3;
 }
 .Dropdown-menu {
  width: $width/3; 
}
a.c-button {
   text-align: center;
  text-decoration: none;
}
.matcher {
  @include div(2px solid red, 40%, 3%,3% );
  width: $width/2;
}